/*
  -------------
    Generic
  -------------
*/
.hentry{
  margin: 0;
}
.page{
  margin: 96px 0 0 0;
  background-color: $color__background-page;
}

/*
  -----------------
    Home Template
  -----------------
*/

  //Section Swiper
  .swiper-wrapper {
    height: 200px;
    display: none;
    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .swiper-pagination-bullet {
    background-color: $color__icons;
    height: 12px;
    width: 12px;
  }
  .swiper-button-prev, .swiper-button-next {
    color: $color__icons;
  }

  //Section Welcome text
  .welcome-text {
    color: $color__text-main;
    text-align: center;
    h1 {
      padding-top: 50px;
      @include font-size(2.2);
      font-weight: bold;
    }
    p {
      @include font-size(1.5);
    }
    img {
      margin-top: 12px;
    }
    i{
      @include font-size(4);
      text-align: center;
      color: $color__icons;
      margin-bottom: 20px;
    }
    h3 {
      padding-bottom: 50px;
    }
  }

  // Home Visit Section
  .home-visit-desktop {
    display: none;
  }
  .home-visit-mobile {
    height: 500px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    color: $color__links-footer;
    text-align: center;
    background-color: lighten( $color__background-page, 20%);
    h2 {
      @include font-size(1.7);
      margin-top: 130px;
    }
    p {
      @include font-size(1.3);
    }
  }
/*
--------------------
  Services Template
--------------------
*/
// Text Section
.services-text-section {
  text-align: center;
  color: $color__text-main;
  h1 {
    @include font-size(2.3);
    margin: 0 0 10px 0;
    padding-top: 20px;
    font-weight: bold;
  }
  p {
    @include font-size(1.2);
  }
}

// Table section
.services-table-section {
  padding-bottom: 20px;
  table {
    margin: 0;
    .table-header {
      background-color: #587275;
      color: $color__table-title;
      th {
        padding: 15px;
        @include font-size(1.2);
      }
    }
    .table-body {
      background-color: $color__background-footer;
      td {
        padding: 10px 15px;
        @include font-size(1.1);
        color: #040D22;
        border-bottom: 1px solid;
        &:first-child {
          width: 80%;
        }
      }
    }
  }
  .note {
    margin-top: 10px;
    font-weight: bold;
  }
}

/*
  --------------------
    About Us Template
  --------------------
*/

// About Image Section
  .about-image {
    position: relative;
    img {
      width: 100%;
      height: 600px;
    }
    .about-text-wrapper {
      color: $color__text-main;
      background-color: white;
      padding: 20px;
      position: absolute;
      bottom: 10%;
      left: 50%;
      border-radius: 15px;
      text-align: center;
      opacity: 0.7;
      margin-left: -121px ;
      h4 {
        @include font-size(1.7);
        font-weight: bold;
      }
      p {
        margin: 0;
        @include font-size(1.1);
        font-weight: bold;
      }
    }
  }
// About Section
  .section-about {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    h2 {
      margin-top: 50px;
      font-weight: bold;
      span {
        color: #595959;
        font-weight: bold;
      }
    }
    .about-us-adress {
      text-align: center;
    }
    hr {
      width: 75px;
      height: 5px;
      background-color: $color__icons;
      margin: 0 auto 30px;
      opacity: 1;
    }
    p {
      margin-bottom: 10px;
      @include font-size(1.3);
      text-align: justify;
    }
  }
  .section-about-advices {
    background-color: white;
  }

// Section About Advices
  .section-about-advices {
    .advice-wrapper {
      border-bottom: 3px solid;
      border-top: 3px solid;
      border-color: $color__background-footer;
    }
    img {
      width: 100%;
      height: 400px;
    }
    h3 {
      padding-top: 20px;
      font-weight: 600;
    }
    p {
      @include font-size(1.3);
      text-align: justify;
      margin: 0;
      padding-bottom: 30px;
    }
  }

/*
--------------------
  Contact Template
--------------------
*/

// Contact Section
  .contact-section {
    color: $color__text-main;
    :link,:visited {
      color: $color__text-main;
      text-decoration: none;
    }
    .contact-map-container {
      padding-top: 50px;
      height: 450px;
    }
    a:hover {
      color: black;
    }
    h1 {
      text-align: center;
      padding-top: 30px;
      @include font-size(2.5);
      margin-bottom: 5px;
    }
    hr {
      width: 40px;
      height: 5px;
      background-color: $color__icons;
      margin: 0 auto 30px;
      opacity: 1;
    }
    .contact-form-container {
      @include font-size(1.5);
      p {
        margin-bottom: 20px;
        &:nth-child(5) {
          margin-bottom: 0;
        }
      }
      i {
        margin-bottom: 20px;
        &:first-child {
          width: 24px;
          margin-top: 15px;
          margin-bottom: 0;
        }
      }
      a:last-child {
        padding-bottom: 20px;
      }
      input[type=text],input[type=email],textarea {
        width: 100%;
        background-color: #C2C6C1;
        resize: none;
        color: $color__text-main;
      }
      input[type=submit] {
        color: $color__text-main;
        padding: 15px;
        background-color: darken( $color__background-page, 20%);
        border: none;
        font-weight: bold;
        &:hover {
          background-color: darken( $color__background-page, 30%);
        }
      }
      .wpcf7-not-valid-tip {
        font-size: 20px;
      }
      .wpcf7-response-output {
        border: none;
        margin: 0;
        padding: 0 0 20px 0px;
        color: #dc3232;
      }
    }
  }

/*
  -------------
    Footer
  -------------
*/

.footer {
  padding: 30px 0;
  background-color: $color__background-footer;
  color: $color__links-footer;
  text-align: center;
  h2,h6 {
    @include font-size(1.3);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: $color__links-footer;
    text-decoration: none;
    padding-bottom: 5px;
    display: block;
  }
  &:visited {
    color: inherit;
  }
  
  .copyright-text{
    text-align: center;
    margin: 0;
  }
  .padding-social {
    padding: 20px 0;
  }

}