$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #E3CB7E; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #E3CB7E; //midnightblue
$color__text-main: #00294f;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-menu: #B0E5EA;
$color__background-footer: #9b9c93;
$color__background-page: #85A7B1;
$color__links-footer: #040D22;
$color__links-footer-hover: #16657C;
$color__table-title: #E3CB7E;
$color__icons: #B14543;

